html, body, #app{
    width: 100%;
    min-height: 105%;
    margin: 0%;
    padding: 0%;
    background: linear-gradient(to bottom , rgb(250, 246, 239) 0%, rgb(85, 195, 195) 130%);
    font-family: 'Questrial', sans-serif;
    min-width: 768px;
}

#header, #footer{    
    color: rgb(250, 246, 239);
}

#header{
    height: 5%;
    padding: 1%;
    background: linear-gradient(to bottom right, rgb(21, 151, 151) 0%, rgb(85, 195, 195) 100%);
}

#headerTitle{
    font-size: 2.5em;
}

#subHeaderTitle{
    font-size: 1.6em;
    font-style:italic;
}

#chartsContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#toggleBtnWrapper{
    padding: 2%;
}

#toggleChartsButton{
    height: 60px; 
    font-size: 1.5em;
    color:  rgb(253, 253, 254);
    background-color: #0b26b9;
}

#chartsWrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.chart {
    width: 80%;
    padding-left: 10%;
    margin-bottom: 2%;

}

#chart2{
    position: absolute;
    visibility: hidden;
}

.row{
    border-style: solid;
}

#tablesContainer{
    display: flex;
    flex-direction: row;
}

#alertTableWrapper, #statsTableWrapper{
    width: 46%;
    margin: 2%;
}

#alertTableWrapper{
    overflow-y: scroll;
}

.c01{
    text-align: center;
    background-color: rgb(252, 244, 235, 100);
    font-size: 1.5em;
}

.c02{
    font-size: 1.5em;
    padding-left: 10px;
    margin: 1%;
    background-color: rgb(252, 244, 235, 100);
    color: rgb(91, 92, 102);
}

.tableElement{
    align-items: center;
    width: 33%;
    text-align: center;
    background-color: rgb(252, 244, 235, 100);
    color: rgb(91, 92, 102);
    font-size: 1.5em;
}

.tableElementTime{
    text-align: left;
}

.tableElementHeader{
    text-align: center;
    justify-content: center;
    font-size:  1.6em;
    color: rgb(253, 253, 254);
    background-color: rgb(93, 167, 228);
} 


#footer{
    top: 0%;
    font-size: 1.2em;
    width: 100%;
    padding: 1% 3%;
    text-align: right; 
    color:  rgb(20, 105, 105);
}


